.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
}
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0.75rem 2.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 78px;
  left:-100px;
  position: relative;
  /* width: 90px; */
}
.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.nav-link {
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #00A8FF;
  border-color: #00A8FF;
}

.nav-link.active {
  color: #00A8FF;
  border-color: #00A8FF;
}

/* Mobile */
.menu-toggle {
  font-size: 1.5rem;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* Mobile Menu */
.mobile-menu {
  background-color:white;
  color: black;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-link {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.mobile-link:hover {
  color: blue;
  border-color: blue;
}

.mobile-link.active {
  color: green;
  border-color: green;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}
