.main-content {
  padding-top: 80px;
  /* padding-bottom: 80px; */
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1;
  padding-top: 30px; 
}