@import "tailwindcss";

.p-tabview-nav li a[aria-selected="true"] {
  background-color: #009ad7;
  color: white;
}
/* 
.p-tabview-nav li a[aria-selected="false"] {
  background-color: lightgray;
  color: gray;
} */

/* Apply Onest first, fallback to Century Gothic, then sans-serif */
.testingFont {
  font-family: "Onest", "Century Gothic", sans-serif;
}

/* For body text */
body {
  font-family: "Century Gothic", "Onest", sans-serif;
}

