@import "tailwindcss";

.p-tabview-nav li a[aria-selected="true"] {
  background-color: #009ad7;
  color: white;
}
/* 
.p-tabview-nav li a[aria-selected="false"] {
  background-color: lightgray;
  color: gray;
} */

.testingFont {
  font-family: "Caveat", cursive;
}

.body {
  font-family: 'Century Gothic', sans-serif;
}
