.homePageContainer01 {
  background: url("../../assets/home/homebg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .homePageContainer01 {
    background: url("../../assets/home/homebg2.jpg") no-repeat center;
    background-size: cover;
  }
}

.toursPageContents01 {
  background: url("../../assets/tours/tourbg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .toursPageContents01 {
    background: url("../../assets/tours/tourmb.jpg") no-repeat center;
    background-size: cover;
  }
}
.toursPageContents02 {
  background: url("../../assets/Travel/Taxi.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .toursPageContents02 {
    background: url("../../assets/tours/tourmb.jpg") no-repeat center;
    background-size: cover;
  }
}

.parkingPageContents01 {
  background: url("../../assets/Parking//Park.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .parkingPageContents01 {
    background: url("../../assets/tours/Parkingmb.jpg") no-repeat center;
    background-size: cover;
  }
}
.carsPageCont01 {
  background: url("../../assets/cars/carsbgs.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .carsPageCont01 {
    background: url("../../assets/cars/mobile_car[1].jpg") no-repeat center;
    background-size: cover;
  }
}

.tourBannerBg01 {
  background: url("../../assets/cars/card_banner[2].jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .tourBannerBg01 {
    background: url("../../assets/cars/mobile_card[1].jpg") no-repeat center;
    background-size: cover;
  }
}

.contactPage001 {
  background: url("../../assets/contact/contact[1].jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .contactPage001 {
    background: url("../../assets/contact/mobile_contact[1].jpg") no-repeat
      center;
    background-size: cover;
  }
}

.flightPage001 {
  background: url("../../assets//Travel/flight.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .flightPage001 {
    background: url("../../assets/Travel//mflight.jpg") no-repeat center;
    background-size: cover;
  }
}
.bannerImage001 {
  background: url("../../assets/homeCards/bottom.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

.footerImg {
  background-image: url("../../assets/footer/footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bookingflight {
  background-image: url("../../assets//Booking/flight8.jpg"); /* Desktop version */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mobile view */
@media (max-width: 640px) {
  .bookingflight {
    background-image: url("../../assets//Booking/flightmb.jpg"); /* Mobile version */
  }
}

.bookinghotel {
  background-image: url("../../assets/Booking/Hotel9.jpg"); /* Desktop version */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mobile view */
@media (max-width: 640px) {
  .bookinghotel {
    background-image: url("../../assets//Booking/hotelmb.jpg"); /* Mobile version */
  }
}

.bookingship {
  background-image: url("../../assets//Booking/ship9.jpg"); /* Desktop version */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mobile view */
@media (max-width: 640px) {
  .bookingship {
    background-image: url("../../assets//Booking/shipmb.jpg"); /* Mobile version */
  }
}
