.homePageContainer01 {
  background: url("../../assets/home/homebg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .homePageContainer01 {
    background: url("../../assets/home/homeBg2.png") no-repeat center;
    background-size: cover;
  }
}

.toursPageContents01 {
  background: url("../../assets/tours/toursHeading.png") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .toursPageContents01 {
    background: url("../../assets/tours/mobile_tours[1].png") no-repeat center;
    background-size: cover;
  }
}

.carsPageCont01 {
  background: url("../../assets/cars/carbg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .carsPageCont01 {
    background: url("../../assets/cars/mobile_car[1].jpg") no-repeat center;
    background-size: cover;
  }
}

.tourBannerBg01 {
  background: url("../../assets/cars/card_banner[2].jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .tourBannerBg01 {
    background: url("../../assets/cars/mobile_card[1].jpg") no-repeat center;
    background-size: cover;
  }
}

.contactPage001 {
  background: url("../../assets/contact/contact[1].jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .contactPage001 {
    background: url("../../assets/contact/mobile_contact[1].jpg") no-repeat
      center;
    background-size: cover;
  }
}

.bannerImage001 {
  background: url("../../assets/homeCards/bottom.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
}

.footerImg {
  background-image: url("../../assets/footer/footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
