.homePageContainer01 {
  background: url("../../assets/home/home8.png") no-repeat center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .homePageContainer01 {
    background: url("../../assets/home/homeBg2.png") no-repeat center;
    background-size: cover;
  }
}
